.launch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #474747;
  cursor: pointer;
  &.launch-btn_active{
    background-color: #dc362e;
    box-shadow: 0 0 4px #dc362e;
  }
  &:not(.launch-btn_active):hover {
    background-color: #202124;
  }
}
